
div {
    background-color: rgb(145, 224, 198);
    width: 150px;
    border: 20px rgb(230, 110, 110) ;
    border-radius: 3%;
    padding: 80px;
    margin: 70px;
  }
  fieldset {
    background-color: rgb(145, 224, 198);
    width: 300px;
    border-radius: 3%;
    padding: 70px;
    margin: 70px;
    border: double;
}
legend{
  border: 7px solid #000 ;
  background-color: rgb(236, 181, 247);
  color: rgb(0, 0, 0);
}
